body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    margin: auto;
    padding: 0;
    width: 50%;
}

.tool-menu {
    margin: 0.5vh;
    padding: 4px;
    text-align: center;
    background-color: #777;
    border: 1px solid #111;
    border-radius: 16px;
}

.tool-button {
    margin: 0px 8px;
    padding: 4px;
    background-color: transparent;
    color: #eee;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 8px;
}

.tool-button:hover {
    background-color: #666;
}

.color-select {
    appearance: none;
    -webkit-appearance: none;
    padding: 2px 8px;
    font-size: 1rem;
    margin: 8px;
    background-color: #aaa;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
}
